@CHARSET "ISO-8859-1";

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color .3s;
	border: 1px solid #ddd;
}

ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}

ul
.pagination
 
li
 
a
:hover
:not
 
(
.active
 
)
{
background-color
:
 
#ddd
;


}
.pagination li:first-child a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.center {
	text-align: center;
}

img.img-rounded {
	padding: 10px;
}

#outer {
	width: 100%;
	text-align: center;
}

.inner {
	float: right;
	width: 100px;
}


